{# empty Twig template #}
{# <a href="{{ admin.generateObjectUrl('create',object)}}" class="btn btn-sm btn-default" title='Preparar'><i class='glyphicon glyphicon-edit'></i> Trabajo parto {{ admin.generateObjectUrl('create',object)}} </a>

 #}
{# empty Twig template #}

<a id="buscarGlobal" class="btn btn-sm btn-default" href="{{ path('admin_minsal_shcp_shcppartrabajo_create',{'id_prep': object.id})}}">
    <span class="glyphicon glyphicon-search"></span>
    Aborto
</a>